@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$colors: (
  primary: #e3e7d3,
  secondary: #12355b,
  thirdColor: #0055a4,
  white: #fff,
  black: #001514,
  red: #ff0000,
);

@function color($color) {
  @return map-get($colors, $color);
}

$desktop: 1100px;
$tablet: 850px;
$mobile: 700px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Muli', sans-serif;
}
