.form-background {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/architecture-buildings-city-373893.jpg")
    center/cover no-repeat;
  overflow: hidden;
  .form-container {
    background: color(primary);
    animation: sizeInAdd 2.5s forwards ease;
    position: absolute;
  }
  form {
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 50%;
    height: 75%;
    padding: 1rem;
    opacity: 0;
    animation: fadeIn 0.5s ease 2.5s forwards;
    .input-field {
      position: relative;
      height: 50px;
      width: 50%;
      display: inline-block;
      label {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: 0.3s;
        overflow: hidden;
        pointer-events: none;
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          bottom: 0;
          left: 0;
          border-bottom: 3px solid color(secondary);
          transition: 0.3s ease;
          transform: translate(-100%);
        }
        .label-tag {
          position: absolute;
          bottom: 7px;
          left: 0;
          transition: 0.3s ease;
          height: 1rem;
        }
      }
      input {
        width: 100%;
        height: 100%;
        border: none;
        padding-top: 1rem;
        border-bottom: 1px color(thirdColor) solid;
        background: none;
        outline: none;
      }
      input:focus + label .label-tag,
      input:valid + label .label-tag {
        transform: translateY(-130%);
        color: color(thirdColor);
        font-size: 12px;
      }
      input:focus + label::after {
        transform: translate(0%);
      }
    }

    .btn-add {
      border-radius: 50%;
      color: color(secondary);
      background: none;
      border: none;
      outline: none;
    }
    .btn-submit {
      padding: 0.5rem;
      border: color(secondary) 1px solid;
      outline: none;
      color: color(secondary);
      background: color(primary);
      cursor: pointer;
    }
  }
}
