.addform-page {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/architecture-buildings-city-373893.jpg")
    center/cover no-repeat;
  overflow: hidden;
  .addform-square-background {
    animation: sizeInAdd 2.5s forwards ease;
    position: absolute;
    height: 100%;
    width: 100%;
    &.redirect-anim {
      animation: sizeOutAdd 0.75s forwards ease;
      & ~ form,
      & ~ .fa-home {
        opacity: 0 !important;
        animation: none;
      }
    }
  }
  .fa-home {
    position: absolute;
    color: rgba(color(thirdColor), 0.5);
    font-size: 1.2em;
    top: 1em;
    left: 1em;
    opacity: 0;
    z-index: 10;
    animation: fadeInRight 0.5s ease-in-out 1.5s forwards;
    cursor: pointer;
  }

  form.addform {
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 40%;
    height: 75%;
    top: 35%;
    left: 30%;
    padding: 1rem;
    transition: 0.3s;
    animation: fadeInLeft 1.75s ease-in-out;
    &.hidden {
      opacity: 0 !important;
    }
    .input-field {
      position: relative;
      height: 50px;
      width: 50%;
      display: inline-block;
      label {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        transition: 0.3s;
        overflow: hidden;
        pointer-events: none;
        &::after {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          bottom: 0;
          left: 0;
          border-bottom: 3px solid color(secondary);
          transition: 0.3s ease;
          transform: translate(-100%);
        }
        .label-tag {
          position: absolute;
          bottom: 7px;
          left: 0;
          transition: 0.3s ease;
          height: 1rem;
        }
      }
      input {
        width: 100%;
        height: 100%;
        border: none;
        padding-top: 1rem;
        border-bottom: 1px color(thirdColor) solid;
        background: none;
        outline: none;
      }
      input:focus + label .label-tag,
      input:valid + label .label-tag {
        transform: translateY(-130%);
        color: color(thirdColor);
        font-size: 12px;
      }
      input:focus + label::after {
        transform: translate(0%);
      }
    }

    .btn-add {
      border-radius: 50%;
      color: color(secondary);
      background: none;
      border: none;
      outline: none;
    }
    .btn-submit {
      position: relative;
      padding: 0.5rem;
      margin-top: 1.5em;
      border: color(secondary) 1px solid;
      outline: none;
      color: color(secondary);
      background: transparent;
      cursor: pointer;
      transition: 0.5s ease;
      overflow: hidden;
      z-index: 1;
      &:disabled {
        opacity: 0.3;
      }
      &::after {
        content: "";
        position: absolute;
        top: -100%;
        left: 0px;
        height: 100%;
        width: 100%;
        background: color(secondary);
        transition: 0.5s ease;
        text-align: center;
        z-index: -1;
      }
      &:hover {
        color: color(white);
        &::after {
          top: 0px;
        }
      }
    }
  }
}
