@keyframes unfold {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes opacityAnimation1 {
  0% {
    opacity: 0;
  }
  1%,
  100% {
    opacity: 0.2;
  }
}

@keyframes opacityAnimation2 {
  0% {
    opacity: 0;
  }
  1%,
  100% {
    opacity: 0.4;
  }
}

@keyframes opacityAnimation3 {
  0% {
    opacity: 0;
  }
  1%,
  100% {
    opacity: 0.6;
  }
}

@keyframes opacityAnimation4 {
  0% {
    opacity: 0;
  }
  1%,
  100% {
    opacity: 1;
    background: rgba(255, 255, 255, 0.9);
  }
}

@keyframes fadingIn {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translateY(-61px) scale(1.95);
  }
  100% {
    opacity: 1;
    transform: rotate(-45deg) translateY(-61px) scale(1);
  }
}

@keyframes fadingInMobile {
  0% {
    opacity: 0;
    transform: rotate(0) translateY(-61px) scale(1.95);
  }
  100% {
    opacity: 1;
    transform: rotate(0) translateY(-50%) scale(1);
  }
}

@keyframes reverseOpacity {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sizeInAdd {
  from {
    transform: rotate(0deg) scale(5);
    height: 100%;
    width: 100%;
  }
  to {
    top: -25.4vw;
    right: 22.9vw;
    transform: rotate(-45deg) scale(1);
    height: calc(16vw * 6);
    width: calc(16vw * 6);
  }
}
@keyframes sizeInQuiz {
  from {
    transform: rotate(0deg) scale(5);
    height: 100%;
    width: 100%;
  }
  to {
    top: -25.4vw;
    left: 22.9vw;
    transform: rotate(-45deg) scale(1);
    height: calc(16vw * 6);
    width: calc(16vw * 6);
  }
}
@keyframes sizeInOverview {
  from {
    transform: rotate(0deg) scale(5);
    height: 100%;
    width: 100%;
  }
  to {
    top: -50vh;
    right: 0;
    transform: rotate(-45deg) scale(1);
    height: calc(16vw * 6);
    width: calc(16vw * 6);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
