@keyframes unfold {
  0% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

@keyframes opacityAnimation1 {
  0% {
    opacity: 0;
  }
  1%,
  100% {
    opacity: 0.2;
  }
}

@keyframes opacityAnimation2 {
  0% {
    opacity: 0;
  }
  1%,
  100% {
    opacity: 0.4;
  }
}

@keyframes opacityAnimation3 {
  0% {
    opacity: 0;
  }
  1%,
  100% {
    opacity: 0.6;
  }
}

@keyframes opacityAnimation4 {
  0% {
    opacity: 0;
  }
  1%,
  100% {
    opacity: 1;
  }
}

//PROMJENITI IME
@keyframes fadingIn {
  0% {
    opacity: 0;
    transform: rotate(-45deg) translateY(-61px) scale(1.95);
  }
  100% {
    opacity: 1;
    transform: rotate(-45deg) translateY(-61px) scale(1);
  }
}
//PROMJENITI IME
@keyframes fadingInMobile {
  0% {
    opacity: 0;
    transform: rotate(0) translateY(-61px) scale(1.95);
  }
  100% {
    opacity: 1;
    transform: rotate(0) translateY(-50%) scale(1);
  }
}

@keyframes reverseOpacity {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 0;
  }
}

@keyframes sizeInAdd {
  from {
    clip-path: polygon(100% 0, 125% 50%, 100% 100%, 0% 100%, 0% 0%);
    background: rgba(color(white), 1);
  }
  to {
    clip-path: polygon(70% 0, 95% 50%, 70% 100%, 0% 100%, 0% 0%);
    background: rgba(color(white), 0.9);
  }
}
@keyframes sizeOutAdd {
  from {
    clip-path: polygon(70% 0, 95% 50%, 70% 100%, 0% 100%, 0% 0%);
    background: rgba(color(white), 0.9);
  }
  to {
    clip-path: polygon(100% 0, 125% 50%, 100% 100%, 0% 100%, 0% 0%);
    background: rgba(color(white), 1);
  }
}
@keyframes sizeInQuiz {
  from {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, -25% 50%, 0% 0);
    background: rgba(color(white), 1);
  }
  to {
    clip-path: polygon(100% 0%, 100% 100%, 30% 100%, 5% 50%, 30% 0);
    background: rgba(color(white), 0.9);
  }
}

@keyframes sizeOutQuiz {
  from {
    clip-path: polygon(100% 0%, 100% 100%, 30% 100%, 5% 50%, 30% 0);
    background: rgba(color(white), 0.9);
  }
  to {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, -25% 50%, 0% 0);
    background: rgba(color(white), 1);
  }
}

@keyframes sizeInOverview {
  from {
    clip-path: polygon(-35% 50%, 50% -85%, 135% 50%, 50% 185%);
    background: rgba(color(white), 1);
  }
  to {
    clip-path: polygon(-10% 50%, 50% -60%, 110% 50%, 50% 160%);
    background: rgba(color(white), 0.9);
  }
}

@keyframes sizeOutOverview {
  from {
    clip-path: polygon(-10% 50%, 50% -60%, 110% 50%, 50% 160%);
    background: rgba(color(white), 0.9);
  }
  to {
    clip-path: polygon(-35% 50%, 50% -85%, 135% 50%, 50% 185%);
    background: rgba(color(white), 1);
  }
}

@keyframes sizeinMobile {
  from {
    background: rgba(color(white), 1);
  }
  to {
    background: rgba(color(white), 0.8);
  }
}
@keyframes sizeOutMobile {
  from {
    background: rgba(color(white), 0.8);
  }
  to {
    background: rgba(color(white), 1);
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate(0%, -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate(-50%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInTop {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}

@keyframes zoomInBtn {
  from {
    opacity: 0;
    transform: scale(0.7);
    width: 0%;
  }
  to {
    opacity: 1;
    transform: scale(1);
    width: 70%;
  }
}

@keyframes timerProgress {
  from {
    top: -100%;
  }
  to {
    top: 0%;
  }
}

@keyframes timerProgressMobile {
  from {
    right: -100%;
  }
  to {
    right: 0%;
  }
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: scale(0.7) translateY(-50%);
  }
  40% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(0%);
  }
  100% {
    opacity: 0;
    transform: scale(0.7) translateY(100%);
  }
}

@keyframes popInandOutMsg {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0%);
  }
  90% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
