@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

$colors: (
  primary: #e3e7d3,
  secondary: #12355b,
  thirdColor: #23395b,
  white: #fff,
  black: #001514,
  red: #ff0000
);

@function color($color) {
  @return map-get($colors, $color);
}

$tablet: 850px;
$mobile: 400px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Muli", sans-serif;
  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "DEVELOPMENT BUILD";
    color: rgba(255, 255, 255, 0.7);
  }
}
