@import './definitions.scss';

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: color(white);
  /* &::after {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
  }*/
  .video-background {
    pointer-events: none;
    position: absolute;
    top: -25%;
    left: -25%;
    width: 100%;
    height: 100%;
    @include mobile {
      top: -25%;
      left: -130%;
    }
    opacity: 0;
    transition: 0.5s;
    &.active {
      opacity: 1;
    }
  }
  .card-holder {
    position: absolute;
    top: -113px;
    left: -113px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 0.4rem;
    grid-row-gap: 0.4rem;
    transform: rotate(45deg);
    perspective: 800px;
    @include desktop {
      top: 62px;
      left: -133px;
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      top: 0;
      left: 0;
      transform: unset;
      width: 100%;
      //background: red;
      height: 100vh;
    }
    .container {
      position: relative;
      width: 16vw;
      height: 16vw;
      min-width: 200px;
      min-height: 200px;
      transform-origin: right;
      background: color(white);
      border: 2px color(white) solid;
      text-align: center;
      transform: rotateY(90deg);
      opacity: 0;
      animation: 0.5s ease forwards;
      flex: 1 1 0;
      @include desktop {
        min-width: 150px;
        min-height: 150px;
      }
      @include mobile {
        max-width: 150px;
        max-height: 150px;
      }

      &:nth-child(4),
      &:nth-child(6),
      &:nth-child(10),
      &:nth-child(13),
      &:nth-child(16),
      &:nth-child(19) {
        animation-name: opacityAnimation1, unfold;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(11),
      &:nth-child(12),
      &:nth-child(15),
      &:nth-child(18),
      &:nth-child(20) {
        animation-name: opacityAnimation2, unfold;
      }

      &:nth-child(3),
      &:nth-child(7),
      &:nth-child(8),
      &:nth-child(14),
      &:nth-child(17),
      &:nth-child(22) {
        animation-name: opacityAnimation3, unfold;
        background: none;
      }

      &:nth-child(5),
      &:nth-child(9),
      &:nth-child(16),
      &:nth-child(21) {
        animation-name: opacityAnimation4, unfold;
      }

      .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 135%;
        height: 135%;
        padding: 2.5rem;
        box-sizing: border-box;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        color: color(scondary);
        opacity: 0;
        font-size: 1.4rem;
        transition: 0.3s;
        animation: fadingIn 0.4s ease-out forwards;
        font-family: 'Lobster', cursive;
        cursor: pointer;
        i {
          display: block;
        }
      }
      .menu.first-menu {
        animation-delay: 2.3s;
      }
      .menu.second-menu {
        animation-delay: 1.8s;
      }
      .menu.third-menu {
        animation-delay: 2.1s;
      }
      .menu.forth-menu {
        animation-delay: 1.6s;
      }
    }
    .container.menu-container {
      @include mobile {
        animation: fadingInMobile 0.4s ease-out forwards;
        background: color(white);
        &:nth-child(1) {
          left: 4%;
          top: 15%;
        }
        &:nth-child(2) {
          left: 40%;
          top: 12%;
        }
        &:nth-child(3) {
          left: 4%;
          top: 10%;
        }
        &:nth-child(4) {
          left: 40%;
          top: 7%;
        }
      }
      &::after {
        content: '';
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        position: fixed;
        opacity: 0;
        visibility: hidden;
        background: color(white);
        transition: 0.8s;
      }
    }
    .container.menu-container.transition::after {
      opacity: 1;
      visibility: visible;
    }
    .container.menu-container.transition:nth-child(5)::after,
    .container.menu-container.transition:nth-child(9)::after,
    .container.menu-container.transition:nth-child(21)::after {
      top: -100vw;
      right: -100vw;
      height: 200vw;
      width: 200vw;
    }
    .container.menu-container.transition:nth-child(16)::after {
      top: -45vw;
      right: -26vw;
      height: 75vw;
      width: 75vw;
    }
    @include mobile {
      .container.menu-container.transition:nth-child(1)::after,
      .container.menu-container.transition:nth-child(2)::after,
      .container.menu-container.transition:nth-child(3)::after,
      .container.menu-container.transition:nth-child(4)::after {
        top: -250vw;
        right: -250vw;
        height: 500vw;
        width: 500vw;
      }
    }
    .container.menu-container.backside::after {
      transform: rotate3d(1, 1, 0, 180deg);
      perspective: 1000px;
    }

    &.animate .container .menu {
      color: color(white) !important;
      pointer-events: none;
    }
  }
}

@for $i from 1 through 7 {
  $j: 8 - $i + 1;
  @for $z from 0 through 5 {
    $a: $j * 3;
    @if ($a - $z) < 23 {
      @if $a % 6 == 0 {
        .home .container:nth-child(#{$a - $z}) {
          animation-delay: #{$z * 0.25 + 0.5}s;
        }
      }
    }
  }
}

@import './addForm.scss';
@import './quiz.scss';
@import './overview.scss';
@import './animations.scss';
@import './loading.scss';
@import './loginScreen.scss';
