.overview {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/architecture-buildings-city-373893.jpg")
    center/cover no-repeat;
  overflow: hidden;
  .overview-container {
    background: color(white);
    animation: sizeInOverview 2.5s forwards ease;
    position: absolute;
  }
}
